.button {
    background-color: var(--color-dark);
    color: var(--color-main);
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-family: var(--font-family);
}

.button:hover {
    /* opacity: 0.9; */
    cursor: pointer;
}
