.FeedbackButton {
    background-color: var(--color-dark);
    color: var(--color-main);
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-family: var(--font-family);
    cursor: pointer;
}
